<!DOCTYPE html>
<html>
    <head>
        <title>Generated Output</title>
        <meta charset="utf-8" />
        <style>
        {% include "_internal/style.css.tmpl" %}
        </style>
        {%- block head -%}{%- endblock -%}
    </head>
    <body>
        {%- block body -%}{%- endblock -%}
    </body>
</html>
