{% extends "_classes/base" %}
{%- block head -%}
<style>{% include "_classes/styles/basic.css.tmpl" %}</style>
{%- endblock -%}
{% block body %}
<main>
{% block content %}
{% endblock %}
</main>
{% endblock %}
