{% macro columns_container(columns=2) %}
<div style="column-count: {{ columns }}">

{{ caller() }}

</div>
{% endmacro %}

{% macro center() %}
<div class="_layouts_center">

{{ caller() }}

</div>
{% endmacro %}
