{% macro blank_page() %}
<div style="page: blank; page-break-after:always;"></div>
{% endmacro %}

{% macro page_break() %}
<div style="break-before:page; page-break-before:always;"></div>
{% endmacro %}

{% macro include_rel(filename) %}
{{ _include(current_dir, filename) }}
{% endmacro %}

{% macro execute_command(command, args=[]) -%}
{{ _execute_command(command, args=args) }}
{%- endmacro %}

{% macro lorem_ipsum(words=30) %}
{{ _lorem_ipsum(words=words) }}
{% endmacro %}
