{% macro blank_page() %}
<div style="page: blank; page-break-after:always;"></div>
{% endmacro %}

{% macro page_break() %}
<div style="break-before:page; page-break-before:always;"></div>
{% endmacro %}


{% macro include_rel(filename) %}
{{ include(current_dir, filename) }}
{% endmacro %}
